<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ context.title }} - {{ project }}</title>
</head>
<body>
<main class="section">
    <nav>
        <a href="/">Home</a>
    </nav>
    {% block content %}
        <p>No content</p>
    {% endblock content %}
</main>
<script src="{{ request.static_url('pyramid_watcher:static/sse_reloader.js') }}"
        defer="defer"></script>
</body>
</html>
