{% extends "layout.jinja2" %}

{% block content %}
    <h1 class="title">
        Document: {{ context.title }}
    </h1>
    <h2>Children</h2>
    <ul>
        {% for child in children %}
            <li>
                <a href="{{ 'hello' }}">{{ child.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}

