{% extends "layout.jinja2" %}

{% block content %}
    <h1 class="title">
        {{ context.title }}
    </h1>
    <h2>Children</h2>
    <ul>
        {% for child in children %}
            <li>{{ child.title }}</li>
        {% endfor %}
    </ul>
{% endblock content %}
